<% _parsing %>

<%= form_tag sources_path, :method => :post, :multipart => true do %>
  <p>
    <label>
      Log file:
      <input type="file" name="upload_file" />
    </label>
  </p>

  <p>
    <input type="submit" value="upload" />
  </p>
<% end %>

<p>
  <table>
    <thead>
      <tr>
        <th>Filename</th>
        <th>File Status</th>
        <th>Load</th>
        <th>Entries</th>
        <th>Parsed</th>
        <th>Unparsed</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sources.each do |source| %>
        <tr>
          <td>
            <% if source.loaded? %>
              <a href="<%= source_path source %>"><%= source.filename %></a>
            <% else %>
              <a href="<%= "#{source_path -1}?filename=#{source.filename}" %>"><%= source.filename %></a>
            <% end %>
          </td>
          <td>
            <% if source.exists? %>
              <span class="success">exists</span>
            <% else %>
              <span class="failure">missing</span>
            <% end %>
          </td>
          <td>
            <% if source.loaded? %>
              <span class="success">loaded</span>
            <% else %>
              <% _load_button :source => source %>
            <% end %>
          </td>
          <td>
            <%= number_with_delimiter format_nil(source.entry_count) %>
          </td>
          <td>
            <%= number_with_delimiter format_nil(source.parsed_entry_count) %>
          </td>
          <td>
            <%= number_with_delimiter format_nil(source.unparsed_entry_count) %>
          </td>
          <td>
            <% _parse_button :source => source %>
          </td>
        </tr>
      <% end %>
    </table>
  </table>
</p>
