<% _parsing %>
<% _deleting %>

<p>
  <b>Actions:</b>
  <% _parse_button :source => @source %>
  <% _load_button :source => @source %>
  <% _delete_button :source => @source %>
  <% _recount_button :source => @source %>
</p>

<p>
  <b>Filename:</b> <%= @source.filename %>
</p>

<p>
  <b>Total Entries:</b> <%= @source.entry_count %>
</p>

<p>
  <b>Parsed Entries:</b> <%= @source.parsed_entry_count %>
</p>

<p>
  <b>Unparsed Entries:</b> <%= @source.unparsed_entry_count %>
</p>

<p>
  <b>Example log row:</b><br />
  <code><%= @source.example_row %></code>
</p>

<p>
  <b>10 Example Parsed Entries:</b><br />
  <% _entries :values => @source.parsed_examples %>
</p>

<p>
  <b>10 Example Unparsed Entries:</b><br />
  <% _entries :values => @source.unparsed_examples %>
</p>
