<%= render partial: "shared/parsing" %>
<%= render partial: "shared/deleting" %>

<p>
  <b>Actions:</b>
  <%= render partial: "shared/parse_button", locals: { source: @source } %>
  <%= render partial: "shared/load_button", locals: { source: @source } %>
  <%= render partial: "shared/delete_button", locals: { source: @source } %>
  <%= render partial: "shared/recount_button", locals: { source: @source } %>
</p>

<p>
  <b>Filename:</b> <%= @source.filename %>
</p>

<p>
  <b>Total Entries:</b> <%= @source.entry_count %>
</p>

<p>
  <b>Parsed Entries:</b> <%= @source.parsed_entry_count %>
</p>

<p>
  <b>Unparsed Entries:</b> <%= @source.unparsed_entry_count %>
</p>

<p>
  <b>Example log row:</b><br />
  <code><%= @source.example_row %></code>
</p>

<p>
  <b>10 Example Parsed Entries:</b><br />
  <%= render partial: "shared/entries", locals: { values: @source.parsed_examples } %>
</p>

<p>
  <b>10 Example Unparsed Entries:</b><br />
  <%= render partial: "shared/entries", locals: { values: @source.unparsed_examples } %>
</p>
