<%
  tag_prefix = tag_prefix || ""
  tag_suffix = tag_suffix || ""
%>
<% _raphael %>

<% script do %>
  var PAPER_WIDTH = 1000;
  var PAPER_HEIGHT = 600;
  var GRAPH_X = 60;
  var GRAPH_Y = 60;
  var GRAPH_WIDTH = 880;
  var GRAPH_HEIGHT = 520;
  var graph;
  var values = <%= @histogram.to_json.html_safe %>;
  var dates = <%= @options.json_date_ranges.html_safe %>;
  var fullDates = <%= @options.json_full_date_ranges.html_safe %>;

  function barIndex(bar) {
    return $.inArray(bar, graph.bars.items[0]);
  }

  function tag(bar) {
    var index = barIndex(bar);

    if (index < 0) {
      return "Unknown";
    }

    var range = dates[index];
    return <%= tag_prefix.to_json.html_safe %> + values[index] + <%= tag_suffix.to_json.html_safe %> + "\n" + range[0] + " to\n" + range[1];
  }

  $(function() {
    var r = Raphael("paper", PAPER_WIDTH, PAPER_HEIGHT);
    graph = r.g.barchart(GRAPH_X, GRAPH_Y, GRAPH_WIDTH, GRAPH_HEIGHT, [values]).hover(function() {
      this.flag = r.g.popup(this.bar.x, this.bar.y, tag(this.bar)).insertBefore(this);
    }, function() {
      this.flag.animate({opacity: 0}, 300, function() { this.remove(); });
    }).click(function() {
      var index = barIndex(this.bar);

      if (index < 0) {
        return;
      }

      $("#update_form input[name='date_from']").val(fullDates[index][0]);
      $("#update_form input[name='date_to']").val(fullDates[index][1]);
      $("#update_form").submit();
    });
  });
<% end %>

<div id="paper"></div>

<%= form_tag analyze_path, :method => :post, :id => "update_form" do %>
  <input type="hidden" name="visualization_type" value="<%= params[:action] %>" />
  <input type="hidden" name="date_from" />
  <input type="hidden" name="date_to" />
  <input type="hidden" name="histogram_detail" value="<%= params[:histogram_detail] %>" />
  <% params[:sources].each do |source| %>
    <input type="hidden" name="sources[]" value="<%= source %>" />
  <% end %>
<% end %>
