<%= form_tag analyze_path, :method => :post do %>
  <input type="hidden" name="update_analyze_options" value="true" />

  <p>
    <b>Sources:</b><br />
    <% if @sources.blank? %>
      <em>None parsed yet</em>
    <% else %>
      <% @all_sources.each do |source| %>
        <label>
          <input type="checkbox" name="sources[]" value="<%= source.id %>" <%= 'checked="checked"'.html_safe if @sources.include? source.id %> />
          <%= source.filename %>
        </label>
      <% end %>
    <% end %>
  </p>

  <p>
    <b>Date range:</b><br/>
    <input type="text" name="date_from" value="<%= @min_access_time %>" /><br />
    <input type="text" name="date_to" value="<%= @max_access_time %>" />
  </p>

  <p>
    <b>Visualization Type:</b>
    <select name="visualization_type">
      <% AnalyzeController::VALID_TYPE_VALUES.each do |key, value| %>
        <option value="<%= key %>"><%= value %></option>
      <% end %>
    </select>
  </p>

  <p>
    <input type="submit" value="load" />
  </p>
<% end %>
