<% css :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" %>
<% script :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
<% script :src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" %>

<% script do %>
  $(function() {
    $("#parse_dialog").dialog({ autoOpen: false, width: 600, modal: true });

    $(".parse-button").click(function() {
      var $this = $(this);
      $("#parse_dialog form").attr("action", $("#parse_source_path").val().replace(/SOURCE_ID_HERE/, $this.attr("source_id")));
      $("#parse_dialog").dialog("open");
      return false;
    });

    $(".reparse-button").click(function() {
      var $this = $(this);
      $("#parse_dialog form").attr("action", $("#reparse_source_path").val().replace(/SOURCE_ID_HERE/, $this.attr("source_id")));
      $("#parse_dialog").dialog("open");
      return false;
    });
  });
<% end %>

<input type="hidden" id="parse_source_path" value="<%= parse_source_path "SOURCE_ID_HERE" %>" />
<input type="hidden" id="reparse_source_path" value="<%= reparse_source_path "SOURCE_ID_HERE" %>" />

<div id="parse_dialog" style="display: none;">
  <%= form_tag "/error", :method => :post do %>
    <p>
      Based on apache log pattern:<br />
      <code><%= Apacheanalyze::DEFAULT_LOG_PATTERN_DESCRIPTION %></code><br />
      /<input type="text" name="regex" value="<%= Apacheanalyze::DEFAULT_LOG_PATTERN %>" size="50" />/
    </p>

    <p>
      <input type="text" name="groups" value="<%= Apacheanalyze::DEFAULT_GROUPS %>" size="50" />
    </p>

    <p>
      <input type="submit" value="parse" />
    </p>
  <% end %>
</div>
