<% _editable :type => :slide %>
<% _table_info %>

<% css do %>
  .error { color: red; font-weight: bold; }
<% end %>

<h1><%= @query.name %></h1>

<p class="field-view">
  <a id="edit_query" href="#">edit</a>
</p>

<div style="display: none;" class="field-edit">
  <%= form_tag save_path, :method => save_method, :id => "query_form" do %>
    <p>
      <b>Name:</b><br />
      <input type="text" name="name" size="50" value="<%= @query.name %>" />
    </p>

    <p>
      <b>Query:</b><br />
      <textarea name="query" rows="30" cols="80" wrap="off"><%= @query.query %></textarea>
    </p>

    <%= _save_and_run_buttons %>
    <a id="cancel_edit_query" href="#">cancel</a>
  <% end %>
</div>

<p>
  <% if @error %>
    There was an error running your query:
    <pre class="error"><%= @error.message %></pre>
  <% elsif @results.present? %>
    <table>
      <thead>
        <tr>
          <% each_result_key do |key| %>
            <th><%= key %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @results.each do |row| %>
          <tr>
            <% each_result_key do |key| %>
              <td><%= row[key] %></td>
            <% end%>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>
      <em>No records returned.</em>
    </p>
  <% end %>
</p>
