<!DOCTYPE html>
<html>
<head>
  <title>Apacheanalyze</title>
  <%= stylesheet_link_tag "application.css" %>
  <%= csrf_meta_tag %>
  <%= css_tag_contents %>
  <%= css_contents %>
</head>
<body>

<p class="navigation">
  <a href="<%= admin_index_path %>">admin</a>
  <a href="<%= sources_path %>">sources</a>
  <a href="<%= analyze_path %>">analyze</a>
</p>

<%= yield %>

<%= script_tag_contents %>
<%= script_contents %>
</body>
</html>
