<!DOCTYPE html>
<html>
<head>
  <title>Apacheanalyze</title>
  <%= stylesheet_link_tag "application.css" %>
  <%= csrf_meta_tag %>
  <%= css_tag_contents %>
  <%= css_contents %>
</head>
<body>

<%= yield %>

<%= script_tag_contents %>
<%= script_contents %>
</body>
</html>
